*{
    padding: 0px;
    margin: 0px;
}
.background{
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.33); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.33);
}
.text_color{
    color: black;
    font-size:1.2em;
    
}
.text_color:hover{
    color: black;
}
.finish{
    font-size: 1.1em;
}